<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js" integrity="sha512-DUC8yqWf7ez3JD1jszxCWSVB0DMP78eOyBpMa5aJki1bIRARykviOuImIczkxlj1KhVSyS16w2FSQetkD4UU2w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" type="text/css" href="/static/css/nunito-font.css" th:href="@{/css/nunito-font.css}">
  <link rel="stylesheet" th:href="@{/css/index.css}">
  <link rel="stylesheet" th:href="@{/css/mouse.css}">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <title>Acknowledgments</title>
</head>
<body>
<nav class="nav">
  <div class="container">
    <div class="logo">
      <a th:href="@{index}">Interactive Stock Graphs</a>
    </div>
    <div id="mainListDiv" class="main_list">
      <ul class="navlinks">
        <li><a th:href="@{index}">Home</a></li>
        <li><a th:href="@{ema}">Exponential Moving Average</a></li>
        <li><a th:href="@{GUI}">Technical Indicator GUI</a></li>
        <li><a th:href="@{lookup}">Symbol Lookup</a></li>
        <li><a th:href="@{acknowledgements}">Acknowledgments</a></li>
      </ul>
    </div>
    <span class="navTrigger">
                <i></i>
                <i></i>
                <i></i>
            </span>
  </div>
</nav>
<section class="home">
  <!-- mouse-box is used only for centering mouse-icon -->
  <div class="mouse-box">
    <div class="mouse-icon">
      <div class="scrolling-wheel">
      </div>
    </div>
  </div>
</section>
<div style="height: 1000px">
  <!-- just to make scrolling effect possible -->
  <body class="form-v9">
  <div class="page-content">
    <div class="form-v9-content">
      <form class="form-detail" th:action="@{home}" method="post">
        <h2>Special thank you to...</h2>
        <div class="form-row-total">
          <div class="form-row">
            <h3>Dr. Yui Man Lui at University of Central Missouri for challenging me. Thank you for all the times you made my brain hurt so that it wouldn't hurt the next time I ran across the same issue.</h3>
          </div>
        </div>
        <div class="form-row-total">
          <div class="form-row">
            <h3>Dr. Taeghyun Kang (TK) for introducing me to Spring Boot framework and helping me debug Javascript Charting library implementation.</h3>
          </div>
        </div>
        <div class="form-row-total">
          <div class="form-row">
            <h3><a href="https://www.kaggle.com/camnugent/sandp500">Cam Nugent's</a> collection of S&P 500 stock data over 5 year span. Thank you for sharing your work!</h3>
          </div>
        </div>
        <div class="form-row-total">
          <div class="form-row">
            <h3><a href="https://datahub.io/core/s-and-p-500-companies-financials/r/1.html">Datahub's</a> large data set of S&P 500 corresponding company names and symbols.</h3>
          </div>
        </div>
        <div class="form-row-total">
          <div class="form-row">
            <h3><a href="https://www.highcharts.com">Highcharts for their stellar charting library</a> and <a href="https://canvasjs.com">CanvasJS</a> who designed the Exponential Moving Average template. Great customer service from both companies!</h3>
          </div>
        </div>
        <div class="form-row-total">
          <div class="form-row">
            <h3><a href="https://codepen.io/albizan">Albi</a> for his great navigation template and mouse scrolling on <a href="http://codepen.io">Codepen</a></h3>
          </div>
        </div>
        <div class="form-row-total">
          <div class="form-row">
            <h3><a href="https://colorlib.com/wp/template/colorlib-regform-35/">colorlib</a> for their modern form template.</h3>
          </div>
        </div>
        <div class="form-row-total">
          <div class="form-row">
            <h3>Last, but not least, I want to thank all of the <a href="https://stackoverflow.com">Stack Overflow</a> members whose contributions provided solutions and research ideas to my bugs and the bugs of those before me.</h3>
          </div>
        </div>
        <div class="form-row-last">
          <div class="form-row">
            <h3><a class="text-small" href="https://www.freepik.com/photos/business">Chicogo photo created by wirestock - www.freepik.com</a></h3>
          </div>
        </div>
        <div class="form-row-total">
          <div class="form-row">
            <h3>This project was made with IntelliJ, Spring Boot, Java, MySQL Workbench, Postman API Platform, Highcharts Javascript Charting Libraries, CSS Bootstrap, and Amazon's AWS RDS, EC2, and Elastic Beanstock . </h3>
            <h3>GitHub project can be found <a href="https://github.com/vshultz/StockApp">here.</a></h3>
          </div>
        </div>
      </form>
    </div>
  </div>
  </body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</div>

<!-- Function used to shrink nav bar removing paddings and adding black background -->
<script>
  $(window).scroll(function() {
    if ($(document).scrollTop() > 50) {
      $('.nav').addClass('affix');
      console.log("OK");
    } else {
      $('.nav').removeClass('affix');
    }
  });

  $('.navTrigger').click(function () {
    $(this).toggleClass('active');
    console.log("Clicked menu");
    $("#mainListDiv").toggleClass("show_list").fadeIn();
  });
</script>
</body>
</html>