<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    window.onload = function () {
        var stockChart = new CanvasJS.StockChart("chartContainer", {
            title: {
                text: [[${companyName}]]
            }
        })
    };
    var data = [[${stockList}]];
    for (var i = 0; i < data.length; i += 1) {
        var date = new Date(data.get(i).year(), data.get(i).month(), data.get(i).day());
        var y = 2;
        dataPoints.push({ x: date, y: y });
    }
    dataSeries.dataPoints = dataPoints;
    data.push(dataSeries);
    /*]]>*/
</script>
</body>
</html>